body {
  font-family: sans-serif;
  max-width: 600px;
  margin: 2rem auto;
  text-align: center;
}
input {
  padding: 10px;
  width: 60%;
}
button {
  margin-left: 5px;
  padding: 10px;
}
li {
  list-style: none;
  margin: 10px 0;
}
